################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bracoo/obj
/bracoo/bin/Debug/netcoreapp2.0
/.vs/bracoo/v15/Server/sqlite3
