@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Somewhere<br />
    Strasbourg, France<br />
    <abbr title="Phone">P:</abbr>
    don't have a phone yet.
</address>

<address>
    <strong>Support:</strong> <a href="mailto:hinomura.yo@gmail.com">Support@bracoo.eu</a><br />
   @* <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
